@{
    ViewData["Title"] = "Health Check Apps";
}
@model HealthCheck.Models.DTOs.ViewModels.AppManagerIndexVM

<div id="AppStatuses">
    <table class="table table-bordered table-striped w-100">
        <thead>
            <tr>
                <th width="25%">
                    App
                </th>
                <th width="25%">
                    Url
                </th>
                <th width="20%">
                    Last Check
                </th>
                <th width="10%">
                    Status
                </th>
                <th width="20%">
                    Actions
                </th>
            </tr>
        </thead>
            <tbody>
                @if (Model != null && Model.Apps != null && Model.Apps.Any())
                {
                    foreach (var item in Model.Apps)
                    {
                        <tr id="tr-@item.Id">
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Url
                            </td>
                            <td>
                                @(item.LastCheck)
                            </td>
                            <td>
                                <button type="button" class="badge badge-@((item.IsAlive.HasValue && item.IsAlive.Value) ? "success" : (item.IsAlive==null) ?"light" :"danger")">
                                    @((item.IsAlive.HasValue && item.IsAlive.Value)?"Live": (item.IsAlive==null) ?"Not Checked": "Down")
                                </button>
                            </td>
                            <td>
                                <a class="btn btn-warning" href="/AppManager/Update/@item.Id">Edit</a>
                                <button name="@item.Name" id="@item.Id" class="btn btn-danger delete" href="/AppManager/Delete/@item.Id">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr id="NoApp">
                        <td colspan="5" class="text-center">
                            You don't have any apps <a asp-area="" asp-controller="AppManager" asp-action="Create">Add a Target App</a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
</div>

